.block-operation {
  padding: 10px 0;
  background: var(--vp-c-bg);
  width: 100%;
}

.VPHero .VPImage {
  animation: blur-in 1s cubic-bezier(0, .55, .45, 1);
}

@keyframes blur-in {
  0% {
    filter: brightness(1) blur(10px);
    transform: translate(-50%, -50%) scale(.94);
  }

  10% {
    filter: brightness(1.15) blur(5px);
    transform: translate(-50%, -50%) scale(.98);
  }

  to {
    filter: brightness(1) blur(0);
    transform: translate(-50%, -50%) scale(1);
  }
}
