@keyframes watermark {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 0;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes watermark-horizontal {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes watermark-vertical {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 100%;
  }
}
